body {
  background-color: #c6ebd2;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* code for dark and light themes */
body.light {
  background-color: #c6ebd2;
  color: cyan;
}

body.dark {
  background-color: #333;
  color: cyan;
}

.light .filter,
.light .books,
.light .book-details,
.light .app,
.light .book-list,
.details {
  background-color: #f4f4f4;
  color: #333; /* Add this line */
}

.dark .filter,
.dark .book-details,
.dark .app,
.dark .books,
.dark .book-list,
.details {
  background-color: #555;
  color: cyan; /* Add this line */
}
.light .filter button,
.light .filter label {
  background-color: white; /* Light theme button color */
  color: black;
}

.dark .filter button,
.dark .filter label {
  background-color: #555; /* Dark theme button color */
  color: cyan;
}
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 50px 10px;
  overflow-y: none;
  border-radius: 20px;
  /* margin-bottom: 20%; */
}

.filter {
  margin: 10px 10% 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* for smooth transation */
  transition: all 0.3s ease;
}

.filter:hover {
  transform: scale(1.02);
  /* Slight zoom on hover */
}

.filter label {
  margin-left: 30px;
  font-weight: bold;
  color: #333;
}

input {
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  transition: all 0.3s ease;
}

/* On focus effect */
input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 8px #007BFF;
}



.filter input,
.filter select {
  border: none;
  border-radius: 20px;
  /* width: 50px; */
  margin: 10px 20px 10px;
  padding: 5px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filter button {
  width: 10%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #0374ec;
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.filter button:hover {
  background-color: #0056b3;
  font-weight: bold;
  /* for Slight zoom on hover */
  transform: scale(1.1);
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  overflow-y: auto;
  height: 100vh;
  /* padding: 20px; */
  box-sizing: border-box;
  border-radius: 20px;
  margin: 20px;
}

.books {
  border-radius: 20px;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.books:hover {
  transform: scale(1.02);
  /* Slight zoom on hover */
}

.details {
  height: 100%;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  margin: 10% 10% 0%;
  color: #333;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.book-details {
  width: 35%;
  height: 100%;
  padding: 1px 25px;
  /* box-sizing: border-box; */
  border-left: 1px solid #ccc;
  background-color: #f0dfdf;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
  color: #333;
  border-radius: 30px;
  /* overflow-y: auto;
  height: 100vh; */
  margin: 1% 5px;
  transition: all 0.5s ease;
}

.book-details img:hover {
  width: 50%;
  /* margin-bottom: 20px; */
  transition: all 0.9s ease;
}

.book-details h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.book-details p {
  margin-bottom: 10px;
}

.book-details button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  width: 50%;
}

.book-details button:hover {
  background-color: #0056b3;
  font-weight: 900;
}

.book-list div {
  width: 45%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.book-list img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

input[type="number"] {
  width: 100px;
  /* margin-bottom: 20px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border: none;
  border-bottom: 3px solid red;
}


@media screen and (max-width:578px) {
  .app {
    margin-left: 5.2rem;
    height: 400px;
    width: 350px;
  }
}

@media screen and (max-width:503px) {
  .app {
    margin-left: 4.2rem;
  }
}

@media screen and (max-width:469px) {
  .app {
    margin-left: 3.2rem;
  }
}

@media screen and (max-width:437px) {
  .app {
    margin-left: 2.2rem;
  }
}

@media screen and (max-width:415px) {
  .app {
    margin-left: 1.2rem;
  }
}

@media screen and (max-width:390px) {
  .app {
    margin-left: 1.2rem;
    height: 420px;
    width: 330px;
  }
}
